h1 {
    text-align: center;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

th, td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    word-wrap: break-word;
}

th:last-child, td:last-child {
    width: 35%;
}

th {
    background-color: #f4f4f4;
}
